:root {
    background-color: #FDDA0D;
    --primary-color: #28282B;	
    --secondary-color: whitesmoke;
    --primary-font: "Anton", serif;
    --secondary-font: "Kanit", serif;
}

.container {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

h1 {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 5em;
}

input {
    background-color: var(--primary-color);
    border: none;
    width: 23em;
    height: 3em;
    border-radius: 2em;
    color: whitesmoke;
    font-family: var(--secondary-font);
    padding: 10px 12px;
}

input:focus {
   outline: none;
}

button {
    height: 3em;
    width: 8em;
    background-color: var(--primary-color);
    border-radius: 2em;
    text-align: center;
    color: var(--secondary-color);
    padding: 8px 10px;
    border: none;
    font-family: var(--secondary-font);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#result {
    color: var(--primary-color);
    font-family: var(--primary-font);
}